<?xml version="1.0"?>

<configuration>

    <connectionStrings>
        <add name="schoolConnectionString" connectionString="Data Source=YASH-PC\SQLEXPRESS;Initial Catalog=school;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  
</configuration>
